@use 'colors' as c;

.breadcrumbs {
    position: absolute;
    left: 0;

    li {
        display: inline;
        transition: color 0.2s;
    }

    li.ancestor a {

        color: c.$secondary;
        &:hover {
            color: c.$primary;
        }
    }

    li.ancestor::after {
        margin: 0 .2em;
        content: "";
        display: inline-block;

        background-color: c.$secondary;
        mask-image: url("/dune-wiki/img/chevron-right.svg");
        mask-size: 1em;

        position: relative;
        top: 0.1em;

        width: 1em;
        height: 1em;
    }
}