$white: white;
$grey: #e6e7e9;
$gray: #8a8e91;;
$black: black;
$red: #e04842ff;
$orange: #e29141ff;
$yellow: #d3b63fff;
$green: #4b9737ff;
$magenta: #8d2d94ff;
$cyan: #4b9798ff;
$blue: #2a4394ff;

$primary: $black;
// $accent: #ed6a5d;
$secondary: $gray;
$mute: $grey;
$background: $white;

// code colors
$code-text: $black;
$code-mute: $gray;
$code-border: $grey;
$code-background: $white;
$code-shadow: $grey;
$code-button: #ed6a5d #f4be4f #61c553;
