$white: white;
$grey: #c7ccd6ff;
$gray: #606671ff;;
$black: #22252aff;
$red: #d17277ff;
$orange: #c99c6eff;
$yellow: #dfc184ff;
$green: #a1c281ff;
$magenta: #ad80d6ff;
$cyan: #6fb4c0ff;
$blue: #74ade9ff;

$primary: $white;
// $accent: $magenta;
$secondary: $grey;
$mute: $gray;
$background: $black;

// code colors
$code-text: $grey;
$code-mute: $gray;
$code-border: $gray;
$code-background: $black;
$code-shadow: $gray;
$code-button: #ed6a5d #f4be4f #61c553;