@use 'colors' as c;
@use 'sizes' as s;

body>header {
    width: 100%;

    position: sticky;
    top: 0;
    padding: 1.5em 0;
    margin-bottom: 2em;
    z-index: 1;

    background-color: c.$background;
    border-bottom: c.$mute 1px solid;
    box-shadow: 0 0 10px c.$mute;

    display: flex;
    justify-content: space-around;
    align-items: baseline;

    ol {
        // display: inline-block;
        display: flex; // remove whitespace between items
        justify-content: center;
        gap: 2em;
        align-items: baseline; // align text baseline
    }
}