@use 'reset';

@use 'colors' as c;
@use 'fonts' as f;
@use 'sizes' as s;

@use 'home';
@use 'section';

@use 'header';
@use 'toc';
@use 'breadcrumbs';
@use 'date';

@use 'heading';
@use 'blockquote';
@use 'anchor';
@use 'code';
@use 'table';

@use 'tcolor';
@use 'jsroot';


html {
    font-family: 'Inter', sans-serif;
    font-size: f.$m;
    background-color: c.$background;
    color: c.$primary;
}

main {
    margin: 0 auto;
    width: fit-content;
    position: relative;

    .content {
        display: inline-block;
        width: s.$content_width;
        min-width: 600px;
        line-height: 1.5;
    }

    .toc {
        display: inline-block;
        position: fixed;

        margin-left: 2em;

        width: s.$toc_width;
        max-height: 70%;
        overflow: auto;
        scrollbar-width: none;

        @media screen and (max-width: 1100px) {
            display: none;
        }
    }
}