@use 'colors' as c;
@use 'fonts' as f;
@use 'sass:list';

// code colors
$code-text: c.$black;
$code-mute: c.$gray;
$code-border: c.$grey;
$code-background: c.$white;
$code-shadow: c.$grey;
$code-button: #ed6a5d #f4be4f #61c553;


div.highlight  {
    color: $code-text;
    font-family: 'Menlo', monospace; // doesn't work for some reason
    font-size: f.$s;

    // width: 93%;
    margin: 2em 2em;

    background-color: $code-background;
    border-radius: 1em;
    border: 1px solid $code-border;
    box-shadow: 0 0 10px $code-shadow;

    header {

        margin: .5em 1em -.5em 1em;
        padding-bottom: .5em;
        border-bottom: 1px solid $code-border;

        position: relative;

        .window-button {

            margin-top: .25em;
            position: absolute;
            width: .75rem;
            height: .75rem;
            border-radius: 50%;

            background-color: c.$mute;
            transition: background-color .2s .2s; // delay out

            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    left: #{($i - 1) * 1.25}rem;

                    &:hover {
                        transition: background-color .2s;
                        background-color: list.nth($code-button, $i);
                    }
                }
            }
        }

        .code-label {
            width: 100%;
            text-align: center;
            color: $code-mute;
        }
    }

    pre { 

        font-family: inherit;
        margin: 1em; 
        display: flex;

        .code-gutter {

            color: $code-mute;
            margin-right: 1em;
            text-align: right;

            span.code-line {
                display: block;
            }
        }

        code { 
            font-family: inherit;
            overflow-x: auto; 
            overflow-y: hidden;

            scrollbar-width: none;

            background-color: inherit;;
        }

        position: relative;

        button {
            position: absolute;
            top: 0;
            right: 0;

            background-color: $code-background;
            border-radius: 0 0 0 40%;
            padding: 0 0 .2em .4em;

            svg {
                width: 1.5em;
                height: 1.5em;
            }

            &.check {
                display: none;
                fill: $code-text;
            }
            &.copy {
                path {
                    transition: fill 0.2s;
                    fill: $code-background;
                }

                svg:hover {
                    cursor: pointer;
                    path {
                        fill: $code-text;
                    }
                }
            }
        }
        &:hover button.copy path {
            fill: $code-mute;
        }
    }
}


.highlight .hll { background-color: c.$gray }
.highlight .c   { color: $code-mute } /* Comment */
.highlight .err { color: c.$red } /* Error */
.highlight .k   { color: c.$magenta } /* Keyword */
.highlight .l   { color: c.$orange } /* Literal */
.highlight .n   { color: $code-text } /* Name */
.highlight .o   { color: c.$cyan } /* Operator */
.highlight .p   { color: $code-text } /* Punctuation */
.highlight .ch  { color: $code-mute } /* Comment.Hashbang */
.highlight .cm  { color: $code-mute } /* Comment.Multiline */
.highlight .cp  { color: $code-mute } /* Comment.Preproc */
.highlight .cpf { color: $code-mute } /* Comment.PreprocFile */
.highlight .c1  { color: $code-mute } /* Comment.Single */
.highlight .cs  { color: $code-mute } /* Comment.Special */
.highlight .gd  { color: c.$red } /* Generic.Deleted */
.highlight .ge  { font-style: italic } /* Generic.Emph */
.highlight .gh  { color: $code-text; font-weight: bold } /* Generic.Heading */
.highlight .gi  { color: c.$green } /* Generic.Inserted */
.highlight .gp  { color: $code-mute; font-weight: bold } /* Generic.Prompt */
.highlight .gs  { font-weight: bold } /* Generic.Strong */
.highlight .gu  { color: c.$cyan; font-weight: bold } /* Generic.Subheading */
.highlight .kc  { color: c.$magenta } /* Keyword.Constant */
.highlight .kd  { color: c.$magenta } /* Keyword.Declaration */
.highlight .kn  { color: c.$cyan } /* Keyword.Namespace */
.highlight .kp  { color: c.$magenta } /* Keyword.Pseudo */
.highlight .kr  { color: c.$magenta } /* Keyword.Reserved */
.highlight .kt  { color: c.$yellow } /* Keyword.Type */
.highlight .ld  { color: c.$green } /* Literal.Date */
.highlight .m   { color: c.$orange } /* Literal.Number */
.highlight .s   { color: c.$green } /* Literal.String */
.highlight .na  { color: c.$blue } /* Name.Attribute */
// .highlight .nb { color: $code-text } /* Name.Builtin */
.highlight .nb  { color: c.$yellow } /* Name.Builtin */
.highlight .nc  { color: c.$yellow } /* Name.Class */
.highlight .no  { color: c.$red } /* Name.Constant */
.highlight .nd  { color: c.$cyan } /* Name.Decorator */
.highlight .ni  { color: $code-text } /* Name.Entity */
.highlight .ne  { color: c.$red } /* Name.Exception */
.highlight .nf  { color: c.$blue } /* Name.Function */
.highlight .nl  { color: $code-text } /* Name.Label */
.highlight .nn  { color: c.$yellow } /* Name.Namespace */
.highlight .nx  { color: c.$blue } /* Name.Other */
.highlight .py  { color: $code-text } /* Name.Property */
.highlight .nt  { color: c.$cyan } /* Name.Tag */
.highlight .nv  { color: c.$red } /* Name.Variable */
.highlight .ow  { color: c.$cyan } /* Operator.Word */
.highlight .w   { color: $code-text } /* Text.wspace */
.highlight .mb  { color: c.$orange } /* Literal.Number.Bin */
.highlight .mf  { color: c.$orange } /* Literal.Number.Float */
.highlight .mh  { color: c.$orange } /* Literal.Number.Hex */
.highlight .mi  { color: c.$orange } /* Literal.Number.Integer */
.highlight .mo  { color: c.$orange } /* Literal.Number.Oct */
.highlight .sa  { color: c.$green } /* Literal.String.Affix */
.highlight .sb  { color: c.$green } /* Literal.String.Backtick */
.highlight .sc  { color: $code-text } /* Literal.String.Char */
.highlight .dl  { color: c.$green } /* Literal.String.Delimiter */
.highlight .sd  { color: $code-mute } /* Literal.String.Doc */
.highlight .s2  { color: c.$green } /* Literal.String.Double */
.highlight .se  { color: c.$orange } /* Literal.String.Escape */
.highlight .sh  { color: c.$green } /* Literal.String.Heroc */
.highlight .si  { color: c.$orange } /* Literal.String.Interpol */
.highlight .sx  { color: c.$green } /* Literal.String.Other */
.highlight .sr  { color: c.$green } /* Literal.String.Regex */
.highlight .s1  { color: c.$green } /* Literal.String.Single */
.highlight .ss  { color: c.$green } /* Literal.String.Symbol */
.highlight .bp  { color: $code-text } /* Name.Builtin.Pseudo */
.highlight .fm  { color: c.$blue } /* Name.Function.Magic */
.highlight .vc  { color: c.$red } /* Name.Variable.Class */
.highlight .vg  { color: c.$red } /* Name.Variable.Global */
.highlight .vi  { color: c.$red } /* Name.Variable.Instance */
.highlight .vm  { color: c.$red } /* Name.Variable.Magic */
.highlight .il  { color: c.$orange } /* Literal.Number.Integer.Long */