$white: white;
$grey: #e6e7e9;
$gray: #8a8e91;;
// $black: #454547;
$black: black;
$red: #f33538;
$orange: #eb8d2f;
$yellow: #dd9922;
$green: #229922;
$magenta: #992299;
$cyan: #229999;
$blue: #224499;

// accent colors
$primary: $black;
$accent: rgb(157, 50, 181);
$secondary: $gray;
$mute: $grey;
$background: $white;