<!DOCTYPE html>
<html>
    <head>
        {{ partialCached "head.html" . }}
    </head>
    <body>
        {{ partialCached "header.html" . }}
        <main class="section">
            <section class="content">
                <h1>{{ .Title }}</h1>
                {{ .Content }}
                <section class="pages">
                    {{ range .Pages }}
                    <a href="{{ .Permalink }}"><h2>{{ .LinkTitle }}</h2>{{ .Summary}}</a>
                    {{ end }}
                </section>
            </section>
        </main>
    </body>
</html>