<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}</title>
        {{ partialCached "head.html" . }}
        <script src="/dune-wiki/js/toc.js"></script>
        <script src="/dune-wiki/js/code-copy.js"></script>
    </head>
    <body class="single">
        {{ partial "header.html" . }}
        <main>
            <h1>{{ .Title }}</h1>
            <section class="content">
                {{ .Content }}
            </section>
            <nav class="toc">
                <div class="toc-title">Contents</div>
                {{ .TableOfContents }}
            </nav>
        </main>
    </body>
</html>