<div class="TColor">
    <div class="interface">
        <a target="_blank" href="https://root.cern.ch/doc/master/classTColor.html"><svg viewBox="0 0 100 100" width="100" xmlns="http://www.w3.org/2000/svg" ><path fill-rule="evenodd" clip-rule="evenodd" d="M 49.999955,6.9e-5 C 22.385724,6.9e-5 0,22.38562 0,49.99978 0,56.66403 1.303711,63.02373 3.670155,68.83778 32.091656,53.01213 32.091656,53.01213 32.091656,53.01213 L 41.780789,72.74889 51.334692,17.442042 88.337,17.900168 C 79.16507,6.957702 65.39501,2e-6 49.999955,2e-6 Z M 55.4482,20.762926 44.034318,90.36263 29.257913,60.02193 c 0,0 0,0 -24.542165,11.20349 C 12.698637,88.22722 29.974574,100 50.000052,100 77.61428,100 100,77.61408 100,49.99991 100,38.748924 96.28384,28.365933 90.01204,20.011275 Z" fill="currentColor"></svg></a>
        <div class="slider">
            <input type="range" min="10" max="99" value="99">
        </div>
        <div class="screen">kWhite</div>
        <div class="legend">
            <div class="rgb">
                <span class="tag">RGB</span><pre class="value"></pre>
            </div>
            <div class="hsl">
                <span class="tag">HSL</span><pre class="value"></pre>
            </div>
            <div class="hex">
                <span class="tag">HEX</span><pre class="value"></pre>
            </div>
        </div>
    </div>
</div>

<script src="/dune-wiki/js/tcolor/common.js"></script>
<script src="/dune-wiki/js/tcolor/circles.js"></script>
<script src="/dune-wiki/js/tcolor/slider.js"></script>
<script src="/dune-wiki/js/tcolor/screen.js"></script>
<script src="/dune-wiki/js/tcolor/copy.js"></script>
