<meta charset="utf-8">

<link rel="shortcut icon" href="/dune-wiki/img/favicon.ico">

<!-- Inter font -->
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

{{ with resources.Get "scss/main.scss" 
    | toCSS (dict 
    "targetPath" "css/style.css" 
    "transpiler" "dartsass" 
    "vars" site.Params.style) }}
<link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}

<!-- MathJax -->
{{ if .Param "math" }}
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script>
    MathJax = { 
        tex: { 
            displayMath: [['\\[', '\\]']], 
            inlineMath: [['\\(', '\\)']] 
        }
    };
</script>
{{ end }}

<script>
    const accent = localStorage.getItem('accent') || '#ed6a5d';
    document.documentElement.style.setProperty("--accent", accent);
</script>