<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Title }}</title>
        {{ partialCached "head.html" . }}
        <script src="/dune-wiki/js/toc.js" defer></script>
        <script src="/dune-wiki/js/code-buttons.js" defer></script>
    </head>
    <body class="single">
        {{ partialCached "header.html" . }}
        <main>
            {{ partial "breadcrumbs.html" . }}
            {{ with .Date }}
            <div class="date">{{ .Format "2.01.06" }}</div>
            {{ end }}
            <h1>{{ .Title }}<div class="subtitle">{{ .Params.subtitle }}</div></h1>
            <section class="content">
                {{ .Content }}
            </section>
            {{ if not .Params.notoc }}
            <nav class="toc">
                <div class="toc-title">Contents</div>
                {{ .TableOfContents }}
            </nav>
            {{ end }}
        </main>
    </body>
</html>